.inputContainer{
    width: 322px;
    margin-bottom: 20px;
}
.loginInput{
    width: 305px;
    height: 55px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding-left: 15px;
}

.inputImgs{
    display: flex;
  align-items: center;
    height: 65px;
}
.inputImg{
position: absolute;
right: 50px;
margin-top: 10px;

fill: #4F7BED;
}
.ImgMarginUp{
    margin-top: 5px;
}
.ImgMarginBot{
    margin-bottom: 10px;
}
.loginInput:focus{
    border: 2px solid #4F7BED;
}
.loginchk{
    width: 320px;
    height: 30px;
}

.loginMargin{
    margin-top: 10px;
}

.autoLoginMargin{
    margin-top: 10px;
    font-family: 'Outfit';
}
